body {
    background: blue;
}

.tile {
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(../data/images/gfx64/tiles.png) 0 0;
}

.tile-w {
    background: url(../data/images/gfx64/tiles.png) 0 192px;
}

.actor {
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(../data/images/gfx64/tiles.png) 0 0;
}

.actor-avatar {
    background: url(../data/images/gfx64/tiles.png) -384px -128px;
}

.actor-mfd {
    background: url(../data/images/gfx64/tiles.png) -320px -128px;
}

#game {
    position: relative;
}
