body {
    background: #121d35;
    color: white;
    font-family: Arial, Verdana, sans-serif;
}

.levelSelectorButton {
    font-size: 1.2em;
    background: darkslateblue;
    border: 2px solid lightgray;
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-right: 0.5em;
    margin: 1em;
    cursor: pointer;
    width: 5em;
    float: left;
    text-align: center;
}

.level-lock {
    color: yellow;
}

a {
    color: yellow;
}

.tile {
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(../data/images/gfx64/tiles.png) 0 0;
}

.tile-w {
    background: url(../data/images/gfx64/tiles.png) 0 -192px;
}

.tile-x {
    background: url(../data/images/gfx64/tiles.png) -320px -192px;
}


.actor {
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(../data/images/gfx64/tiles.png) 0 0;
}

.actor-avatar {
    background: url(../data/images/gfx64/tiles.png) -384px -128px;
}

.actor-mfd {
    background: url(../data/images/gfx64/tiles.png) -256px -192px;
}

.actor-mfd-final {
    background: url(../data/images/gfx64/tiles.png) -384px -192px;
}

#game {
    position: relative;
}

/*
    To make DIV element listen to keyboard event, it's necessary to set tabindex.
    e.g. tabindex="0", that will cause glow of the element when focused.
    This CSS is removing the glow.
 */
#game:focus {
    outline:none;
}

.navigation-button {
    cursor: pointer;
    text-align:left;
}

.navigation-bar {
    background: #75755f;
    font-size: xx-large;
    padding: 2px 10px 2px 10px;
    color: white;
}


.level-title {
    float:right;
}

@media (max-width: 340px) {
    .level-word {
        display: none;
    }
}