body {
    background: blue;
}

.tile {
    width: 64px;
    height: 64px;
    position: absolute;
    background: url("../data/images/gfx64/tiles.png") 0 0;
}

.tile-w {
    background: url("../data/images/gfx64/tiles.png") 0 -192px;
}


.tile-y {
    background: url("../data/images/gfx64/tiles.png") -320px -64px;
}
