<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PF 2019 - Sokoban-like game</title>
  <link rel="stylesheet" type="text/css" href="css/game.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="js/vuex-3.0.1.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script type="text/javascript" src="js/levels.js"></script>
  <script type="text/javascript" src="js/store.js"></script>
</head>
<body>

<script type="text/x-template" id="reset-component-template">
  <div>Reset the state</div>
</script>

<script type="text/x-template" id="navigation-bar-template">
  <div class="navigation-bar">
    <span class="navigation-button"><router-link to="/"><i class="fa fa-arrow-left"></i></router-link></span>
    <div class="level-title"><span class="level-word">Level </span>{{ levelName }}</div>
  </div>
</script>

<script type="text/x-template" id="playground-template">
  <div>
    <div v-for="(tileRow, rowIndex) in levelMap">
            <span :class="['tile tile-' + tileName]" :style="{ top: rowIndex*64 + 'px', left: tileIndex*64 + 'px'}"
                  v-for="(tileName, tileIndex) in tileRow"></span>
    </div>
  </div>
</script>

<script type="text/x-template" id="stage-template">
  <div>
    <div v-for="(actor, index) in actors">
      <img :src="['data/images/svg/' + actor.image + '.svg']" class="actor" :style="{ top: actor.y + 'px', left: actor.x + 'px' }">
    </div>
  </div>
</script>

<script type="text/x-template" id="level-access-button-template">
  <component :is="type" :to="to" :class="classObject">
    {{ value }}
  </component>
</script>

<script type="text/x-template" id="level-selector-template">
  <div>
    <div class="level-selector">
      <h2 class="level-selector-titile">Select level</h2>

      <div v-for="(level, index) in levels" class="level-selector-button">
        <level-access-button :isLocked="level.isLocked" :to="`/level/${index+1}`" :text="(index + 1).toString()"></level-access-button>
      </div>
    </div>

    <!-- Badges -->
    <div id="badges" >
      <span class="link"><i class="fa fa-info-circle"></i></span>

      <a class="link" href="https://github.com/georgik/pf2019">
        <i class="fab fa-github"></i></a>

      <span class="badge">
              <a class="link" href="https://georgik.rocks/tag/games">
                  <img  alt="More games at https://georgik.rocks"
                       src="data/images/gfx64/georgik-icon.png" /></a>
          </span>
    </div>
  </div>
</script>

<script type="text/x-template" id="level-complete-template">
  <div class="level-complete">
    <div id="congratulation">Congratulations!</div>
    <div class="level-complete-buttons">
      <router-link class="level-button" :to="`/level/${levelIndex + 1}`"><i class="fa fa-redo"></i> Play again</router-link>
      <router-link class="level-button" :to="`/level/${levelIndex + 2}`"><i class="fa fa-arrow-right "></i> Next level</router-link>
    </div>
    <div class="level-complete-buttons-final">
      <a class="level-button" id="web-button" href="https://georgik.rocks/tag/games" >
        <i class="fa fa-thumbs-up" ></i>Visit PF 2019 website</a>
    </div>
  </div>
</script>


<script type="text/x-template" id="game-stage-template">
  <div >
  <navigation-bar></navigation-bar>
    <div id="game"
         ref="game"
         @click="mouseClicked"
         @keyup.up="keyUp"
         @keyup.down="keyDown"
         @keyup.left="keyLeft"
         @keyup.right="keyRight"
         tabindex="0"
    >
      <playground></playground>
      <stage></stage>
    </div>
    <router-view></router-view>
  </div>
</script>

<div id="app">
  <router-view></router-view>
</div>

</body>
<script type="text/javascript" src="js/level-selector.js"></script>
<script type="text/javascript" src="js/level-complete.js"></script>
<script type="text/javascript" src="js/game.js"></script>
<script type="text/javascript" src="js/router.js"></script>
</html>
