<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/game.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="js/vuex-3.0.1.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script type="text/javascript" src="js/levels.js"></script>
  <script type="text/javascript" src="js/store.js"></script>
</head>
<body>

<script type="text/x-template" id="playground-template">
  <div>
    <div v-for="(tileRow, rowIndex) in levelMap">
            <span :class="['tile tile-' + tileName]" :style="{ top: rowIndex*64 + 'px', left: tileIndex*64 + 'px'}"
                  v-for="(tileName, tileIndex) in tileRow"></span>
    </div>
  </div>
</script>

<script type="text/x-template" id="stage-template">
  <div>
    <div v-for="(actor, index) in actors">
      <span :class="['actor actor-' + actor.name]" :style="{ top: actor.y + 'px', left: actor.x + 'px' }"></span>
    </div>
  </div>
</script>

<script type="text/x-template" id="level-selector-template">
  <div>Select level
    <div v-for="(level, index) in levels" class="levelSelectorButton">
      <router-link :to="`/level/${index+1}`">Level {{ index + 1 }}</router-link>
    </div>
  </div>
</script>

<script type="text/x-template" id="game-stage-template">
  <div id="game"
       @click="mouseClicked">
    <playground></playground>
    <stage></stage>
  </div>
</script>

<div id="app">
  <router-view></router-view>
</div>

</body>
<script type="text/javascript" src="js/level-selector.js"></script>
<script type="text/javascript" src="js/game.js"></script>
<script type="text/javascript" src="js/router.js"></script>
</html>
